@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.adminLayout {
  display: flex;
  min-height: 100vh;
  background-color: $admin_background;
  box-shadow: 0px 4px 53px rgba(5, 69, 89, 0.21);
  position: relative;
  overflow: hidden;
  width: 100%;

  &__sidebar {
    background-color: $general_background;
    padding: 30px;
    //add padding to max-width
    max-width: calc($maxContainerWidth + 32px + 32px);
    width: calc(100% - 200px);
  }

  &__container {
    padding: 30px;
    //add padding to max-width
    max-width: calc($maxContainerWidth + 32px + 32px);
    width: calc(100% - 200px);
  }

  @media screen and (max-width: $sm) {
    &__container {
      padding: 16px;
    }
  }
}
