@import '../../scss/mixins.scss';
@import '../../scss/vars.scss';

.table {
  thead {
    tr {
      background-color: #F0F0F0;
    }

    th {
      background-color: #F0F0F0;
      border: 0;
      height: 60px;
      text-align: center;
    }
  }

  td {
    background-color: #FAFAFA;
    height: 40px;
    text-align: center;
  }
}